* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.singleCompo {
  height: 350px;
  width: 300px;
  border: 1px rgb(211, 211, 211) solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 8px 7px 5px gray;
  margin-top: 30px;
  transition: transform 0.5s;
  border-radius: 10px;
}

.singleCompo:hover {
  transform: translateY(-10px) scale(1.05);
}

.singleCompo img {
  height: 200px;
  width: 200px;
}

.singleCompo .title{
      color: #00425A;
      font-weight: 500;
}

.singleCompo .btn{
  height: 27px;
  width: 120px;
  margin-top: 8px;
  font-size: 15px;
  background-color:rgb(222, 215, 215);
  border-radius: 10px;
  color: black;
  cursor: pointer;
  border: 1px solid gray;
  
}

.singleCompo .btn:hover{
  background-color: #5ac7a3;
  font-weight: 500;
}

.homeCompo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}

/* .............................header css............... */

.headerContainer{
  background-color: rgb(225, 216, 216);
  height: 100px;
  display: flex;
  justify-content: flex-end;
  justify-content: space-around;
  /* position: fixed;
  width: 100%; */
  
}
.headerContainer a{
  text-decoration: none;

}
.headerContainer  li{
  list-style: none;
  margin-top: 30px;
  font-weight: 500;
  font-size: larger;
  transform: 2s;
}

.headerContainer a:hover{
  color: darkgreen;
  border: 5px solid gray;
  border-top: none;
  border-left: none;
  border-right: none;
}

.searchBox{
  height: 25px;
  margin-top: -1px;
  padding: 4px;
  border-style: none;
  
}

.searchContainer{
  margin-top: 31px;
  /* border: 2px gray solid; */
  height: 28px;
  background-color: white;
}

.detailsCard{
  height:500px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 500px;
  margin-top: 100px;
}

.detailsCard p{
  margin-top: 15px;
  padding: 5px;
}

a{
  text-decoration: none;
}